.home-main {
    height: 100vh;
    .title {
        font-size: 18px;
        color: #fff;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
  .user-info {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    height: 100%;
    
    .user-name{
      color: #ffffff;
      font-size: 20px;
      span{
        margin-right: 8px;
      }
    }
  }
}